* {
    box-sizing: border-box;
  }
  
.header {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    align-items: center;
    width: 100%;
}

.form {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 600px;
    height: 30px;
    margin-left: auto; 
    margin-right: auto;

}
.login{
   
}

.backdrop{
    background-color: #3b3b3b;
    width: 100%;
}

.search-bar {
height: 40px;
border-radius: 25px;
text-align: center;
border: none;
background: transparent;
margin-left: auto; 
margin-right: auto;
}

input{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 20px;
    border-radius: 25px;
    padding: 8px 40px 8 20px;
    border: none;
    /* box-shadow: 0 5px 8px 3px black; */
    
    }
    
    input:focus {
        outline: none;
    }

form{
    background-color: white;
    border-radius: 25px;
    align-items: center;
    position: relative;
}

.submit-btn{
    background-color: white;
    background-image: url('./assets/magnify-icon.png');
    background-size: 30px; /* Adjust the size of the icon as needed */
    background-position: center; /* Position the icon in the center of the button */
    background-repeat: no-repeat; /* Ensure the icon is not repeated */
    width: 50px;
}

.submit-btn:hover {
    cursor: pointer;
  }

.form-container {

}
/* form has a class of bar so we use display flex to get them side by side  */